{% extends 'app/user_navbar.html' %}

{% load static %}

{% block css_content %}<link rel="stylesheet" type="text/css" href="{% static 'user_project.css' %}">{% endblock css_content %}

{% block content %}

<!-- -->  
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-sm-8 offset-sm-2">
        
        <!-- Title for Project -->
        <h1 class="display-4 text-center pb-3">{{ project.name }}</h1>
        
        <!-- Card for Project Tasks -->
        <div class="card mb-3">
          
          <!-- Header for Project Tasks -->
          <a role="button" class="card-header text-decoration-none" data-toggle="collapse" data-target="#taskList">
              <span class="h6"><strong>Project Tasks</strong></span>
            <span class="float-right">{{ project.tasks_completed }}/{{ project.task_set.all|length }} Tasks Complete</span>
          </a>
          
          <!-- Collapsible body for Project Tasks -->
          <ul class="list-group list-group-flush collapse show" id="taskList">
            
            {% for task in project.task_set.all %}
            {% if task.completed is False %}
            <li class="list-group-item d-flex align-items-center">
              
              <!-- Task Complete Checkmark -->
              <form class="fa-lg pr-3 mb-0" method="POST" action="{% url 'edit_task' 'complete' task.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-link fa-layers fa-fw">
                    <i class="far fa-circle oob-check-off"></i>
                    <i class="far fa-check-circle oob-check-on"></i>
                </button>
              </form>
              
              <!-- Task Text -->
              <div class="w-100">
                <span>{{ task.task }}</span>
              </div>
              
              <!-- Task Options -->
              <div class="ml-auto">
                <div class="btn-group-vertical">
                  <div class="dropleft">
                    <a role="button" class="btn text-muted" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item disabled">Delete</a>
                      <a class="dropdown-item disabled">Edit</a>
                    </div>
                  </div>
                </div>
              </div>            
            </li>
            {% endif %}
            {% endfor %}

            <!-- New Task Creation - Project Tasks -->
            <li class="list-group-item d-flex align-items-center">
                <form class="input-group" method="POST" action="{% url 'add_task' project.pk %}">
                    {% csrf_token %}
                    {{add_task_form.task}}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
                    </div>
                </form>
            </li>
          </ul>
        </div>
        

        {% for sub in project.children.all %}
        <!-- Card for Section Tasks -->
        <div class="card mb-3">
          
          <!-- Header for Section Tasks -->
          <a role="button" class="card-header" data-toggle="collapse" data-target="#sectionList{{ forloop.counter }}">
              <span class="h6"><strong>{{ sub.name }}</strong></span>
              <span class="float-right">{{ sub.tasks_completed }}/{{ sub.task_set.all|length }} Tasks Complete</span>
          </a>
          
          <!-- Collapsible body for Section Tasks -->
          <ul class="list-group list-group-flush collapse" id="sectionList{{ forloop.counter }}">

            {% for task in sub.task_set.all %}
            {% if task.completed is False %}
            <li class="list-group-item d-flex align-items-center">
              
              <!-- Task Complete Checkmark -->
              <form class="fa-lg pr-3 mb-0" method="POST" action="{% url 'edit_task' 'complete' task.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-link fa-layers fa-fw">
                    <i class="far fa-circle oob-check-off"></i>
                    <i class="far fa-check-circle oob-check-on"></i>
                </button>
              </form>        
              
              <!-- Task Text -->
              <div class="w-100">
                <span class=>{{ task.task }}</span>
              </div>
              
              <!-- Task Options -->
              <div class="ml-auto">
                <div class="btn-group-vertical">
                  <div class="dropleft">
                    <a role="button" class="btn text-muted" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item">Delete</a>
                      <a class="dropdown-item">Edit</a>
                    </div>
                  </div>
                </div>
              </div>            
            </li>
            {% endif %}
            {% endfor %}
            
            <!-- New Task Creation - Section Tasks -->
            <li class="list-group-item d-flex align-items-center">
                <form class="input-group" method="POST" action="{% url 'add_task' sub.pk %}">
                    {% csrf_token %}
                    {{add_task_form.task}}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
                    </div>
                </form>
            </li>
          </ul>
        </div>
        {% endfor %}
        
        <!-- Create New Sub-Project in this Project -->
        <div class="form-group">
          <form class="input-group" method="POST" action="{% url 'add_project' %}">
            {% csrf_token %}
            {{ sub_form.name }}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="hidden" name="parent_pk" value="{{ project.pk }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

{% endblock content %}