{% extends 'app/user_navbar.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h3 class="text-center py-2">{{ project.project_name }}</h3>
        <div class="accordion" id="accordionProject">

            {# Project Tasks #}
            <div class="card">
                <div class="card-header" id="freeTasks">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFreeTasks">
                        PROJECT TASKS</button>
                        <span class="float-right my-auto h6">{{ project.tasks_completed }}/{{ project.task_set.all|length }} Tasks Completed</span>
                    </h5>
                </div>
                <div id="collapseFreeTasks" class="collapse show">
                    <div class="card-body">
                        <ul class="list-group">
                        {% for task in project.task_set.all %}
                        {% if task.completed is False %}
                        <li class="list-group-item my-0 py-0">
                            <form method="POST" action="{% url 'task_complete' task.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="btn btn-outline-primary"><i class="far fa-check-circle"></i></button>
                                {{ task }}
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                        </ul>
                        <div class="form-group">
                            <form class="input-group" method="POST" action="{% url 'task_to_project' project.pk %}">
                                {% csrf_token %}
                                {{ task_form.task }}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <div class="input-group-append">
                                    <button type = "submit" class="btn btn-outline-primary" type="submit" id="submitButton">Submit</button>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>

            {# Section Generator #}
            {% for section in project.section_set.all %}
            <div class="card">
                <div class="card-header" id="sectionTasks{{ forloop.counter }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSection{{ forloop.counter }}">
                        {{ section.section_name|upper }}</button>
                        <span class="float-right my-auto h6">{{ section.tasks_completed }}/{{ section.task_set.all|length }} Tasks Completed</span>
                    </h5>
                </div>
                <div id="collapseSection{{ forloop.counter }}" class="collapse">
                    <div class="card-body">
                        {% for task in section.task_set.all %}
                        {% if task.completed is False %}
                        <li class="list-group-item">
                            <form method="POST" action="{% url 'task_complete' task.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="btn btn-outline-primary"><i class="far fa-check-circle"></i></button>
                                {{ task }}
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}

                        <div class="form-group">
                            <form class="input-group mb-3" method="POST" action="{% url 'task_to_section' section.pk %}">
                                {% csrf_token %}
                                {{ task_form.task }}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <div class="input-group-append">
                                    <button type = "submit" class="btn btn-outline-primary" type="submit" id="submitButton">Submit</button>
                                </div>
                            </form>
                        </div>
                    </ul>                        
                    </div>
                </div>
            </div>
            {% endfor %}

            {# Create a new Section #}
            <div class="card">
                <div class="card-header" id="createSection">
                    <h2 class="mb-0 btn-group-lg">
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseNewSection">
                        NEW SECTION</button>
                    </h2>
                </div>
                <div class="collapse" id="collapseNewSection">
                    <div class="card-body">
                        <div class="form-group">
                            <form class="input-group mb-3" method="POST" action="{% url 'create_section' project.pk %}">
                                {% csrf_token %}
                                {{ section_form.section_name }}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <div class="input-group-append">
                                    <button type = "submit" class="btn btn-outline-primary" type="submit" id="submitButton">Submit</button>
                                </div>
                            </form>
                        </div>            
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock content %}