
.oob-check-off {
    transition: opacity 0.4s;
    opacity: 0.7;
}
    
.oob-check-on {
    transition: opacity 0.4s;
    opacity: 0;
}
    
.oob-check-off:hover {
    opacity: 0;
}

.oob-check-on:hover {
    opacity: 1;
}
